
html,body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
  background-color: #222831;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
  background-color: #EEEEEE;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: monospace;
  font-size: 5.625rem;
  color: #222831;
  line-height: 2;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  color: #EEEEEE;
}

h3 {
  font-family: 'Merriweather', serif;
  color: #EEEEEE;
}

h6 {
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: underline;
}

p {
  line-height: 2;
  color: #EEEEEE;
}

a {
  color: black;
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;
}


a:hover {
  color: #EEEEEE;
}

.intro {
  margin: auto;
  line-height: 2;
  width: 50%;
}

.bottom-cloud {
  position: absolute;
  left: 17%;
}

.top-cloud {
  position: absolute;
  top: 35%;
  left: 77%;
}

.h2-black {
  color: #222831;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  padding: 20px;
}

.cert-img {
  width: 30%;
  float: left;
  margin-right: 30px;
  border-radius: 20%;
}

.js-img {
  width: 30%;
  float: right;
  margin-left: 30px;
  border-radius: 20%;
}

.profile-img {
  margin-top: 30px;
  padding: 15px;
}

.first-container {
  background-color: #00ADB5;
  position: relative;
  padding-top: 75px;
  width: 100%;
  text-align: center;

}

.third-container {
  background-color: #00ADB5;
  position: relative;
  padding: 50px 0 20px;
  margin-top: 30px;
}

.contact-me {
  padding: 20px;
}

/* BOTTOM BUTTON */

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: monospace;
  color: #ffffff;
  font-size: 20px;
  background: black;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 30px;
}

.btn:hover {
  background: #00ADB5;
  text-decoration: none;
}


.copy {
  color: #EEEEEE;
  font-size: 0.75rem;
  padding: 20px 0;
}

.outtro {
  padding: 20px;
}



/* TXT ON BLUE BACKGROUND */

.blue-background {
  color: #222831;
}

/* PORTFOLIO CONTAINER */

.portfolio-container {
  background-color: #00ADB5;
}

.portfolio-img {
  width: 60%;
  padding: 20px;
  margin: 10px;
  border: 3px solid #222831;
  border-radius: 100%;
}

.portfolio-img-ready {
  width: 60%;
  padding: 20px;
  margin: 10px;
}

#projects {
  padding: 20px;
  font-weight: bold;
  color: #222831;
}
